{%extends 'blog/base.html'%}

	{%block content%}
	<p>Contact:
		<br/>&emsp;<a href="https://www.github.com/gamersdestiny" rel="https://github.com/"><img id="pgithub" src="/media/contact_page_pictures/github.jpg"></a>
		<a  href="https://www.instagram.com/gamer_guna" rel="https://instagram.com/"><img id="pinstagram" src="/media/contact_page_pictures/download.jpg"></a>
		<a  href="https://www.twitter.com/guna648" rel="https://twitter.com/"><img id="ptwitter" src="/media/contact_page_pictures/twitter.jpg"></a>
		<a  href="mailto: guna57012@gmail.com"><img id="pgmail" src="/media/contact_page_pictures/gmail.jpg"></a>
	</p>
	{%endblock content%}
