{%extends 'blog/base.html'%}

{%block content%}
	<h3>Blog Home</h3>
	{%for posts in dicpost %}
		<article class="media content-section">
			<img class='rounded-circle article-img' src='{{ posts.author.profile.image.url }}' >
		  <div class="media-body">
		    <div class="article-metadata">
		      <small>posted on {{ posts.datePosted }}</small>
		      <a class="mr-2" href="#">By-{{ posts.author }}</a>
		    </div>
		    <h2><a class="article-title" href="{% url 'postDetail' posts.id %}">{{ posts.title }}</a></h2>
		    <p class="article-content">{{ posts.content }}</p>
		  </div>
		</article>
	{%endfor%}
	<div>
		<a id='create-post' class="btn btn-success" href='/post/create/'><b><big>+</big></big></b></a>
	</div>
{%endblock content%}
