{%extends 'blog/base.html'%}

	{%block content%}
	<h2>About</h2>
	<p> &emsp;Destiny blog is a information sharing website about gadgets, technology, science, entertainment like anything you like. This is my first project. I learned to create this project with help of CoreyMSchafer youtube.</p>
	<p>
		<b>Thanks to</b>
		<ol>Corey Schafer</ol>
		<ol>Giraffe academy</ol>
		<ol>shaw academy</ol>
		<ol>stackoverflow</ol>
		<ol>geeks fo geeks</ol>
		<ol>w3school</ol>
		<ol>freecodecamp</ol>
		<ol>codewithmosh</ol>
		<ol>And my friends</ol>
	</p>
	{%endblock content%}