{%extends 'blog/base.html'%}

{%block content%}
		<article class="media content-section mt-3 ">
			<a  href="{% url 'userProfile' object.author %}"><img class='rounded-circle article-img' src='{{ object.author.profile.image.url }}' ></a>
			<div class="media-body">
		    	<div class="article-metadata">
		      		<small>posted on {{ object.datePosted }}</small>
		      		<a class="mr-2" href="{% url 'userPosts' object.author.username %}">By-{{ object.author }}</a><br/>
    		    	{% if request.user == object.author %}
						<a id="button-update"  class='btn btn-outline-info btn-sm mt-1 mb-1' href="{% url 'postUpdate' object.id %}">Update</a>
						<a id="button-D-delete" class='btn btn-outline-danger btn-sm mt-1 mb-1' href="{% url 'postDelete' object.id %}">Delete</a>
					{% endif %}	
				</div>
		    	<h3 class="article-title">{{ object.title }}</h3>
		    	<p class="article-content">{{ object.content }}</p>
			</div>
		</article>
{%endblock content%}
