{%extends 'blog/base.html'%}

{%block content%}
<h3>Posts by <b>{{ view.kwargs.username }}</b> ({{ page_obj.paginator.count }}) </h3>
	{%for posts in dicpost %}
		<article class="media content-section">
			<a  href="#"><img class='rounded-circle article-img' src='{{ posts.author.profile.image.url }}' ></a>
		  <div class="media-body">
		    <div class="article-metadata">
		      <small>posted on {{ posts.datePosted }}</small>
		      <a class="mr-2" href="{% url 'userPosts' posts.author.username %}">By-{{ posts.author }}</a>
		    </div>
		    <h2><a class="article-title" href="{% url 'postDetail' posts.id %}">{{ posts.title }}</a></h2>
		    <p class="article-content">{{ posts.content }}</p>
		  </div>
		</article>
		<div>
	{%endfor%}

	{% if page_obj.has_previous %}
	<a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.first }}">first</a>
	<a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.previous_page_number }}">previous</a>
	{% endif %}

	{% for pages in paginator.page_range %}
		{% if page_obj.number == pages %}
		<a class="btn btn-dark btn-sm" href="?page={{ pages }}">{{ pages }}</a>	
		{% elif pages > page_obj.number|add:'-4' and pages < page_obj.number|add:'4' %}
		<a class="btn btn-outline-dark btn-sm" href="?page={{ pages }}">{{ pages }}</a>	
		{% endif %}
	{% endfor %}

	{% if page_obj.has_next %}
		<a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.next_page_number }}">next</a>
		<a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.paginator.num_pages }}">last</a>
	{% endif %}

	<!-- {% if page_obj.has_next %}
		<a class="btn btn-outline-dark btn-sm" href="?page={{ page_obj.next_page_number }}">next</a>
	{% endif %} -->


{%endblock content%}
